/* Global Styles */
:root {
  --primary-color: #0D6EFD;
  --primary-overlay: rgba(0, 123, 255, 0.5);
  --primary-darker: #0a58ca;
  --background-color: #e2e6e9;
  --user-message-bg: #cce5ff;
  --assistant-message-bg: white;
  --box-shadow: 4px 4px 8px var(--primary-color);
  --transparent-scrollbar: #f4f4f400;
  --secondary-loader: rgba(0, 0, 0, 0.1);
  --primary-loader: #3498db;
  --border-radius: 10px;
  --padding: 12px;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0; 
}


/* Upload Styles */
div.upload {
  display: flex;
  align-items: center;
  z-index: 1000; 
}

.upload>p {
  margin: 0;
  padding: 5px;
}

label.upload-area {
  cursor: pointer;
}

label.upload-area span.upload-button {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 15px;
  border: 2px dashed ;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .4s;
  
}

label.upload-area span.upload-button i.fas {
  position: absolute;
  font-size: 20px;
}

label.upload-area span.upload-button:hover {
  transform: scale(1.1); 
}

input[type="file"] {
  display: none;
}


/* Footer Styles */

footer {
  position: fixed; 
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 7px 0; 
  z-index: 999; 
  box-shadow: var(--box-shadow); 
}

footer p {
  margin: 0;
  font-size: 14px;
}

/* Chatbox Styles */

.chatbox {
  size: 16px;
  width: 100%;
  height: 100%;
  background-color: var(--assistant-message-bg);
}
#placeholder {
  text-align: center;
  margin-top: .5rem;
  margin-left: auto;
  margin-bottom: 2rem;
  padding: .5rem;
  border-radius: var(--border-radius);
  background-color: var(--user-message-bg);
}

/* Message Styles */
.message {
  margin: 10px 0;
  padding: var(--padding);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  max-width: 45%;
  position: relative;
  border-radius: var(--border-radius);

}

.message-system {
  text-align: center;
  max-width: 100%;
  margin-top: .5rem;
  margin-left: auto;
  margin-bottom: 2rem;
  padding: .5rem;
  border-radius: var(--border-radius);
  background-color: var(--user-message-bg);
}

.message.user {
  background-color: var(--user-message-bg);
  text-align: right;
  justify-content: flex-end;
  border-radius: var(--border-radius) var(--border-radius) 0 var(--border-radius);
  align-self: flex-end;
  margin-left: auto;
}

.message.assistant {
  background-color: var(--background-color);
  text-align: left;
  justify-content: flex-start;
  border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 0;
  align-self: flex-start;
}

/* Speech Arrow */
.message.assistant::before,
.message.user::before {
  content: '';
  position: absolute;
  top: 97%;
  border-width: 10px;
  border-style: solid;
}
.message.assistant::before {
  left: 0;
  border-radius: 0% 100% 100% 0% / 100% 0% 100% 0%;
  border-color: var(--background-color);
  background-color: var(--background-color);
}
.message.user::before {
  right: 0;
  border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%  ;
  background-color: var(--user-message-bg);
  border-color: var(--user-message-bg);
}

/* Hover and Active Styles */
.custom-hover-light, .custom-hover-dark {
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 4px;
}

.custom-hover-light:hover, .custom-hover-dark:hover {
  box-shadow: var(--box-shadow);
}

.active {
  box-shadow: var(--box-shadow);
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: var(--transparent-scrollbar);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); 
  border-radius: 10px;
  border: 3px solid var(--background-color); 
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-darker);
}

.form-control, #modelSelect {
  background-color: transparent !important;
}
/* Eliminare */
#modelSeelect>option {
  color: black !important;
}
/* Loader Styles */
.loader {
  border: 4px solid var(--secondary-loader); 
  border-left: 4px solid var(--primary-loader); 
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-top: .5rem;
  margin-right: 8px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*Overlay model selected*/
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-overlay); 
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
  font-size: 2rem;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}
#overlay.hidden {
  opacity: 0;
  pointer-events: none;
}
#overlay-text {
  border: 3px solid white;
  padding: 20px;
  border-radius: 10px;
}


/*Offcanvas*/
.custom-offcanvas {
  background-color: var(--primary-overlay); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  color: var(--background-color); 
}



.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}




@media (max-width: 768px) {

  body , #placeholder, .message-system, .message{
    font-size: 15px;
  }
  .upload, .btn , #sendButton {
      width: 20%;
      font-size: 13px;
  }
  .upload>p {
    display: none;
  }
  .upload{
    margin-top: 20px;
  }

  #userInput{
      width: 55%;
      font-size: 13px;
  }
 #modelSelect {
      width: 18%;
      font-size: 13px;
  }
  #resetButton {
      margin-top: 10px;
      margin-left: 60% !important;
      
  }
  
  
}