<main class="container mt-2">
    <h1 class="text-center "> E-commerce digital Assistant</h1>
    <div id="chatbox" class="chatbox border p-3 mb-3 text-dark bg-secondary" style="height: 400px; overflow-y: auto;"> 
        <span id="placeholder" class="text-white" >
            Salutami per iniziare a chiacchierare immediatamente e scrivi 'exit' quando hai finito 😄
        </span>
    </div>
    <div class="input-group">
        <input type="text" id="userInput" class="form-control" placeholder="Type your message here...">
        <div class="input-group-append">
            <button id="sendButton" class="btn btn-primary" onclick="sendMessage()">Send</button>
        </div>
    </div>
</main>