<main class="container mt-2" id="main-container" role="main">
    <h1 id="digital-assistant" class="text-center w-100 font-monospace text-uppercase">
        Digit<span class="text-primary">a</span>l Ass<span class="text-primary">i</span>stant
    </h1>
    <div id="chatbox" class="chatbox border p-5 mb-3 text-dark fs-5" style="height: 400px; overflow-y: auto;" aria-live="polite"> 
        <span id="placeholder" class="text-dark" >
            Salutami per iniziare a chiacchierare immediatamente e scrivi 'exit' quando hai finito 😄
        </span>
    </div>
    <div class="input-group">
        <label for="userInput" class="visually-hidden">Type your message</label>
        <input type="text" id="userInput" class="form-control border border-primary rounded-start" placeholder="Type your message here..." aria-label="Type your message">
        <button id="sendButton" class="btn btn-outline-primary rounded-end" onclick="sendMessage()">Send</button>
    </div>
</main>