@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Upload Styles */
div.upload {
  display: flex;
  align-items: center;
  z-index: 1000; 
}

.upload>p {
  margin: 0;
  padding: 5px;
}

label.upload-area {
  cursor: pointer;
}

label.upload-area span.upload-button {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 15px;
  border: 2px dashed ;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .4s;
  
}

label.upload-area span.upload-button .lucide {
  position: absolute;
  font-size: 20px;
}

label.upload-area span.upload-button:hover {
  transform: scale(1.1); 
}

input[type="file"] {
  display: none;
}

