<nav aria-label="Main navigation" class="w-100">
               
  <ul class="navbar-nav d-flex flex-row  justify-content-between me-auto ">
    
    <!-- left -->
    <li class="nav-item p-4 ">
       <ul class="navbar-nav d-flex flex-row gap-3 text-primary">
          <li><a href="/" id="nav-home"  class="nav-item nav-link active custom-hover-light" aria-current="page">Home</a></li>
          <li><a href="/docs" id="nav-docs" class="nav-item nav-link custom-hover-light ">Docs</a></li>
          <li><a href="#" id="nav-old-chats" class="nav-item nav-link custom-hover-light "  type="button" data-bs-toggle="offcanvas" data-bs-target="#oldChatsOffcanvas" aria-controls="oldChatsOffcanvas">Chats</a></li>
          {% include 'old_chats.html' %}
      </ul>   
   </li>
    
   <!-- right -->
    <li class="nav-item p-4 ">
      <ul class="navbar-bar d-flex flex-row gap-3 form-check form-switch" >
        <input class="form-check-input" type="checkbox" id="darkModeSwitch" checked=checked>
        <label class="form-check-label" for="darkModeSwitch">
          <span class="fa-regular fa-lg fa-moon d-none" title="dark mode" aria-hidden="true"></span>
          <span class="fa-regular fa-lg fa-sun " title="light mode" aria-hidden="true"></span>
        </label>
      </ul>
    </li>

  </ul>

</nav>




